<div class="row">
  <%= render 'layouts/r_menu' %>
  <div class="column right">
    <div class="container_right">
    <div class="list-type4">
            <ol>
              <li><a href="#">Анкета:</a></li>
              <li><a href="#">Имя: <%= current_user.name %></a></li>
              <li><a href="#">Фамилия: <%= current_user.surname %></a></li>
              <li><a href="#">Никнейм: <%= current_user.nick %></a></li>
              <li><a href="#">Почта: <%= current_user.email  %></a></li>
            </ol>
          </div>
    </div>
  </div>
</div>
